.ticket{
  &-center{
    text-align: center;
  }
  &-details{
    & h1{
      text-align: center;
    }
    & h4{
      margin-bottom: 30px;
    }

    &_component{
      margin-left: 30%;
    }
  }

}