@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Courgette&display=swap);@import url(https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet);@import url(https://fonts.googleapis.com/css?family=Courgette|Lato|Nunito|Roboto&display=swap" rel="stylesheet);.list-error {
  color: red;
  font-weight: bold;
  margin-top: 50px;
}

.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--medium {
  max-width: 976px;
}

.wrapper--no-padding-until-medium {
  padding-left: 0;
  padding-right: 0;
}

.wrapper--no-padding-until-large {
  padding-left: 0;
  padding-right: 0;
}

.wrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
}

.wrapper--b-margin {
  margin-bottom: 1rem;
}

html {
  height: 100%;
}

body {
  font-family: lato, Sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

.up-header_left {
  font-size: 2rem;
  font-family: "Courgette", cursive;
  color: #0D71B3;
  font-weight: 600;
  float: left;
}

.up-header_left span {
  position: absolute;
  color: black;
  font-size: 14px;
  -webkit-transform: translate(2px);
          transform: translate(2px);
}

.up-header_menu-li {
  padding: 5px;
  list-style: none;
  background-color: #e9e9e9;
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
  border-radius: 2px;
}

.up-header_menu .up-header_menu-li a {
  color: #0D71B3;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 500;
}

.up-header_menu .menu-active .anchor-active {
  color: white;
}

.up-header_menu-li .up-header_menu-bar {
  width: 85%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}

.up-header_menu-li .up-header_menu-display {
  display: none;
  border-radius: 5px;
  height: 4px;
  background-color: white;
}

.up-header_menu .menu-active .bar-active {
  display: block;
}

.up-header_menu li:hover .up-header_menu-display {
  display: block;
}

.up-header_menu li:hover {
  background-color: #0D71B3;
  color: white;
}

.up-header_menu li:hover a {
  color: white;
}

.up-header_right {
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.up-header_right:hover .up-header_right-dropdown {
  display: block;
}

.up-header_right-center {
  margin-left: auto;
  margin-right: auto;
}

.up-header_right-center span {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.up-header_right-center .fa-chevron-down {
  font-size: 12px;
}

.up-header_right-dropdown {
  display: none;
  position: absolute;
  padding: 10px 0;
  left: 30%;
  top: 60px;
  width: 15rem;
  z-index: 10000001;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  background-color: white;
}

.up-header_right-dropdown .dropdown-img {
  margin-left: auto;
  margin-right: auto;
}

.up-header_right-dropdown .row {
  position: relative;
  padding: 5px;
  margin: 0;
}

.up-header_right-dropdown .row img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.up-header_right-dropdown .row .dropdown-button {
  margin-left: auto;
  margin-right: auto;
}

.up-header_right-dropdown .row button {
  width: 90px;
  padding: 2px 5px;
  border: 1px solid #0D71B3;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.dropdown-button button:hover {
  background-color: #0D71B3;
  color: white;
}

.dropdown-img img {
  text-align: center;
  height: 60px;
  width: 60px;
}

.menu-active {
  background-color: #0D71B3;
}

.navhead {
  background-color: #282535;
  width: 100%;
  padding: 0.8rem 0;
  clear: left;
}

.navhead ul {
  clear: left;
  padding-top: 1rem;
}

.navhead li {
  font-size: 1.2rem;
  font-weight: 300;
  list-style: none;
  float: right;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 5px solid black;
}

.navhead a {
  text-decoration: none;
}

.formfield {
  position: relative;
  margin-top: 20px;
  border-bottom: 10px solid cornflowerblue;
}

.formfield form {
  padding: 0;
  margin: 0;
}

.formfield img {
  width: 100%;
}

.formfield_box {
  color: white;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.formfield input {
  float: left;
  display: inline-block;
  height: 60px;
  width: 11rem;
  padding: 5px 15px;
  border: none;
}

.form-home {
  margin-left: auto;
  margin-right: auto;
}

.form-element {
  float: left;
  height: 60px;
}

.form-element span {
  display: inline-block;
  height: 60px;
  border-right: 1px solid lightgray;
  background-color: white;
  clear: left;
}

.form-element:first-child input {
  border-radius: 5px 0 0 5px;
}

.form-element:nth-child(5) input {
  border-radius: 0 5px 5px 0;
  background-color: #0D71B3;
  color: white;
}

.clr {
  clear: both;
}

.heading {
  text-align: center;
}

.heading h2 {
  margin-top: 50px;
  font-weight: normal;
  text-align: center;
}

.heading-uline {
  width: 60px;
  height: 3px;
  background-color: #0D71B3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 20%;
}

.search-result h5:last-child {
  margin-top: 40px;
}

.search-result_table table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #0D71B3;
}

.search-result_table th,
.search-result_table td {
  text-align: center;
  padding: 10px;
}

.search-result_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.search-result_table th {
  background-color: #0D71B3;
  color: white;
}

.search-result_table td {
  background-color: rgba(13, 113, 179, 0.1);
  font-weight: 600;
}

.search-result_table button {
  border: 1.3px solid #0D71B3;
  background-color: transparent;
  padding: 4px 10px;
  border-radius: 2px;
}

.search-result_table button:hover {
  background-color: #0D71B3;
  color: white;
}

.list {
  margin-top: 20px;
}

.list_flotRight {
  float: right;
}

.list_betweenSpace {
  margin-top: 50px;
}

.list_component {
  max-width: 200px;
  margin-right: 50px;
}

.list_button {
  margin-right: 20px;
}

.post-form h1 {
  margin-top: 20px;
}

.login {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.login h1 {
  margin: 30px 30px 100px 30px;
  text-align: center;
}

.login_inputField {
  position: relative;
  max-width: 25rem;
  height: 35rem;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.login_inputField-image {
  position: absolute;
  width: 100%;
  top: -70px;
  left: calc(50% - 65px);
}

.login_inputField img {
  border: 2px solid lightslategrey;
  border-radius: 50%;
}

.login_input {
  padding: 30px;
}

.login_input p {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.login_input input[type=text],
.login_input input[type=password] {
  width: 100%;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid black;
}

.login_input input[type=submit] {
  border: none;
  width: 8rem;
  margin-right: 20px;
  background-color: lightslategrey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.login_input button {
  border: none;
  width: 8rem;
  border-radius: 5px;
  padding: 5px;
  background-color: lightslategrey;
}

.ticket-center {
  text-align: center;
}

.ticket-details h1 {
  text-align: center;
}

.ticket-details h4 {
  margin-bottom: 30px;
}

.ticket-details_component {
  margin-left: 30%;
}

.profile-user_head {
  width: 100%;
  height: 200px;
  overflow: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 20px;
}

.profile-user_head h1 {
  text-align: center;
}

.profile-user_body {
  width: 100%;
  height: 400px;
  overflow: auto;
  margin-top: 50px;
  box-shadow: 5px 5px 20px;
}

.profile-user_body h2 {
  margin: 10px 0 30px 0;
}

.tickSymbol {
  color: green;
  font-size: 1.2rem;
  text-decoration: none;
}

.xSymbol {
  color: red;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover,
a:active {
  opacity: 0.6;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 80px;
  background-color: #282535;
  margin-top: 50px;
}

