
.sidebar_menu{
    padding: 60px 5% 60px 15%;
}
.menu{
    margin: 50px 0;
}
.menu-list a{
    padding: 15px;
    text-align: center;
    color: $themeBlue;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    font-weight: bold;
}
