.formfield{

  form{
    padding: 0;
    margin: 0;

  }
  position: relative;
  margin-top: 20px;
  border-bottom: 10px solid cornflowerblue;
  img {
    width: 100%;
  }
  &_box{
    color: white;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;

  }

  input {
    float: left;
    display: inline-block;
    height: 60px;
    width: 10em;
    padding: 5px 15px;
    border: none;

    }

  }

.form-home{
  margin-left: auto;
  margin-right: auto;
  //box-shadow: 5px 5px 10px;
}


.form-element{
  float: left;
  height: 60px;

}


.form-element span{
  display: inline-block;
  height: 60px;
  border-right: 1px solid lightgray;
  background-color: white;
  clear: left;

}

.form-element:first-child input{
  border-radius: 5px 0 0 5px ;
}

.form-element:nth-child(5) input{
  border-radius: 0 5px 5px 0;
  background-color: #0D71B3;
  color: white;
}
.clr{
  clear: both;
}

